<div class="action">
    <div class="container pad-equal">
        <div class="row">
            <div class="col-12 col-md-7 pb-4">
                <div class="h1">Мы рады предложить</div>
                <p>Внушительный ассортимент канцелярской и сувенирной продукции с логотипом на заказ (визитницы и ключницы, конверты, блокноты и записные книжки, планинги, папки для офиса и ресторанов, пишущих принадлежностей и пр.)</p>
                <p>Максимальный размер однокрасочного изображения на плоскую поверхность – 60х40 мм, двух и более цветов - 55х40 мм Максимальный размер однокрасочного нанесения на ручки равен: длина – 60мм; высота – наименьший диаметр изделия, умноженный на коэф-фициент 0,7, на цилиндрические поверхности большего диаметра - длина 60 мм, высота - наименьший диаметр изделия, умноженный на коэф-фициент 0,4</p>
            </div>
            <div class="col-12 col-md-5 form p-5">
                @@include('modules/action_form.html')
            </div>
        </div>
    </div>
</div>