<div id="half_2">
    <div class="container pad-equal">
        <div class="row">
            <div class="col-12">
                <div class="h1 tac pad-inner">Срок и цена</div>
            </div>
            <div class="col-12 col-md-7 pb-4">
                <p>Цена всегда индивидуальна, зависит от многих нюансов: тематики, объема (длины), сложности.</p>
                <p class="fwb">Срок разработки: от 3 до 15 дней</p>
                <p class="h3">Коридор цены: от 10 000 до 50 000 р.</p>
                <p class="fwb">Почему такая разница в цене?</p>
                <p>Каждый раз заказчики преследуют разные цели, одним нужно быстро запуститься с небольшим лендингом, чтобы проверить
                    спрос, вторым нужно сделать качественную упаковку готового бизнеса. Как вы понимаете подход к ним будет разный и
                    стоимость тоже.</p>
                <p>Также бывает, что заказчик обращается с готовым текстом и, иногда, с прототипом, получается часть работы сделана,
                    ценасоответственно будет ниже.</p>
            </div>
            <div class="col-12 col-md-5 form p-5 form_pribluda">
                <div class="h1 tac white">Заполните форму</div>
                <div class="h3 tac white">Чтобы узнать точную сумму разработки лендинга</div>
                @@include('modules/half2_form.html')
            </div>
        </div>
    </div>
</div>