<div id="half_3">
    <div class="container pad-equal">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="h1 tac">Как дальше работать с сайтом?</div>
                    <p class="tac">Если после завершения проекта вам понадобится внести какие-то правки в сайт, сделать это можно будет 3-мя способами:</p>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <a href="#">
                    <img src="/img/ubuntu_squirrel.png" alt="main_text" class="img-responsive">
                </a>
            </div>
            <div class="col-12 col-md-5">
                <ol>
                    <li><span class="fwb">Сделаю я</span><br>
                        <p>Я могу оказывать техническую поддержку вашего сайта за доп.плату. Цена зависит от масштаба правок</p>
                    </li>
                    <li><span class="fwb">Вы сами через браузер</span><br>
                        <p>Если вам нужно сделать незначительные изменения (поменять дату, цену и пр.), то вы это сможете сделать самостоятельно прям из браузера. Видеоинструкцию пришлю</p>
                    </li>

                </ol>
            </div>
        </div>
    </div>
</div>
