<div id="half_1">
    <div class="container pad-equal">
        <div class="row">
            <div class="col-12 col-md-7">
                <a href="/img/ubuntu_squirrel.png" class="fancybox"> <img src="/img/half1_photo.jpg" alt="main_text"
                                                                          class="img-responsive"> </a>
            </div>
            <div class="col-12 col-md-5">
                <div class="h1">Что такое Landing Page?</div>
                <p>Landing page жто одностраничный сайт, кторый заточен на одно действие - продажа или получение контакта</p>
                <p class="fwb">Лендинг это отличный инструмент продаж</p>
                <p>Именно из-за того, что выбор у посетителя не большой - оставить контакты или уйти, лендинги имеют большую конверсию чем многостраничные сайты.</p>
            </div>
        </div>
    </div>
</div>