<div class="persons">
    <div class="container pad-equal">
        <div class="item">
            <div class="row">
                <div class="col-12 col-md-4 item_img">
                    <a href="#">
                        <img src="/img/ubuntu_squirrel.png" alt="main_text" class="img-responsive">
                    </a>
                </div>
                <div class="col-12 col-md-8 item_text">
                    <div class="h1">Сувенирная продукция с
                        логотипом компании
                    </div>
                    <p>
                        В надписях должны быть шрифты без засечек, с положительным разрежением букв на 5-10%.
                        Недопустимо размещение изображения в непосредственной близости с выступающими частями
                        изделия (клип, кнопка и т.д.), расстояние зависит от изделия и может быть рекомендовано
                        технологом или дизайнером.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>