<div id="persons">
    <div class="container pad-equal">
        <div class="item">
            <div class="row">
                <div class="col-12 col-md-4 item_img">
                    <a href="#">
                        <img src="/img/ubuntu_squirrel.png" alt="main_text" class="img-responsive">
                    </a>
                </div>
                <div class="col-12 col-md-8 item_text">
                    <div class="h1">ARD Media</div>
                    <p>Здравствуйте. Будем посотрудничеству с вами.</p>
                    <p>Напишите нам и мы обсудим Ваш проект.</p>
                    <div class="button button-next">Написать</div>
                </div>
            </div>
        </div>
    </div>
</div>