<div class="pict_1">
    <div class="container pad-equal">
        <div class="col-12">
            <div class="h1">Преимущества компании 1</div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-col-md-8 col-xl-7">
                    <div class="row">
                        <div class="col-12 col-sm-6 item">
                            <div class="row">
                                <div class="col-4 item_img">
                                    <div class="p-3 tac">
                                        <img src="img/pict1.png" alt="">
                                        <div class="yellow_box">idx</div>
                                    </div>
                                </div>
                                <div class="col-8 item_text white">
                                    <div class="h3 white p-0">Смыслы и цели</div>
                                    <p>Делаем визуальную упаковку вашего предложения</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 item">
                            <div class="row">
                                <div class="col-4 item_img">
                                    <div class="p-3 tac">
                                        <img src="img/pict1.png" alt="">
                                        <div class="yellow_box">idx</div>
                                    </div>
                                </div>
                                <div class="col-8 item_text white">
                                    <div class="h3 white p-0">Смыслы и цели</div>
                                    <p>Делаем визуальную упаковку вашего предложения</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 item">
                            <div class="row">
                                <div class="col-4 item_img">
                                    <div class="p-3 tac">
                                        <img src="img/pict1.png" alt="">
                                        <div class="yellow_box">idx</div>
                                    </div>
                                </div>
                                <div class="col-8 item_text white">
                                    <div class="h3 white p-0">Смыслы и цели</div>
                                    <p>Делаем визуальную упаковку вашего предложения</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 item">
                            <div class="row">
                                <div class="col-4 item_img">
                                    <div class="p-3 tac">
                                        <img src="img/pict1.png" alt="">
                                        <div class="yellow_box">idx</div>
                                    </div>
                                </div>
                                <div class="col-8 item_text white">
                                    <div class="h3 white p-0">Смыслы и цели</div>
                                    <p>Делаем визуальную упаковку вашего предложения</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 item">
                            <div class="row">
                                <div class="col-4 item_img">
                                    <div class="p-3 tac">
                                        <img src="img/pict1.png" alt="">
                                        <div class="yellow_box">idx</div>
                                    </div>
                                </div>
                                <div class="col-8 item_text white">
                                    <div class="h3 white p-0">Смыслы и цели</div>
                                    <p>Делаем визуальную упаковку вашего предложения</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 item">
                            <div class="row">
                                <div class="col-4 item_img">
                                    <div class="p-3 tac">
                                        <img src="img/pict1.png" alt="">
                                        <div class="yellow_box">idx</div>
                                    </div>
                                </div>
                                <div class="col-8 item_text white">
                                    <div class="h3 white p-0">Смыслы и цели</div>
                                    <p>Делаем визуальную упаковку вашего предложения</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>