<div id="pict_2">
    <div class="container pad-equal">
        <div class="col-6">
            <div class="h1 tac">Как мы будем сотрудничать</div>
        </div>
        <div class="row">
            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12 tac">
                        <div class="img_block ta-center pb-2"><img src="img/faq.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12 tac">
                        <div class="description pt-md-4 pb-md-3">Оставьте заявку</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="img_block ta-center pb-2"><img src="img/busines.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12">
                        <div class="description pt-md-4 pb-md-3">Заполните бриф</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="img_block ta-center pb-2"><img src="img/telemarketer.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12">
                        <div class="description pt-md-4 pb-md-3">Обсуждаем проект, цену и срок разработки</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="img_block ta-center pb-2"><img src="img/guarantee.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12">
                        <div class="description pt-md-4 pb-md-3">Вносите предоплату 30%</div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="img_block ta-center pb-2"><img src="img/project.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12">
                        <div class="description pt-md-4 pb-md-3">Я, пошагово, делаю все этапы разработки</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="img_block ta-center pb-2"><img src="img/vision.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12">
                        <div class="description pt-md-4 pb-md-3">Закачиваю сайт, вы его проверяете</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="img_block ta-center pb-2"><img src="img/wallet.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12">
                        <div class="description pt-md-4 pb-md-3">Вносите предоплату 30%</div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 col-lg-3 item pb-4 pt-md-0">
                <div class="row align-items-center">
                    <div class="col-md-12 d-none d-md-block tac">
                        idx
                    </div>
                    <div class="col-4 col-md-12">
                        <div class="img_block ta-center pb-2"><img src="img/analysis.png" alt=""></div>
                    </div>
                    <div class="col-8 col-md-12">
                        <div class="description pt-md-4 pb-md-3">Вы счастливый обладатель лендинга - инструмента продаж!</div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>