<div id="portfolio">
    <div class="container pad-equal">
        <div class="h1 tac pad-inner">Портфолио</div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 my-4"><a href="/img/ubuntu.png" class="fancybox" data-fancybox="portfolio"><img src="/img/ubuntu.png" alt="" class="img-responsive"></a></div>
                    <div class="col-6"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                    <div class="col-6"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                    <div class="col-12 my-4"><a href="/img/ubuntu.png" class="fancybox" data-fancybox="portfolio"><img src="/img/ubuntu.png" alt="" class="img-responsive"></a></div>
                    <div class="col-6"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                    <div class="col-6"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-6 mt-4"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                    <div class="col-6 mt-4"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                    <div class="col-12 my-4"><a href="/img/ubuntu.png" class="fancybox" data-fancybox="portfolio"><img src="/img/ubuntu.png" alt="" class="img-responsive"></a></div>
                    <div class="col-6"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                    <div class="col-6"><a href="/img/pinguin.png" class="fancybox" data-fancybox="portfolio"><img src="/img/pinguin.png" alt="" class="img-responsive"></a></div>
                    <div class="col-12 my-4"><a href="/img/ubuntu.png" class="fancybox" data-fancybox="portfolio"><img src="/img/ubuntu.png" alt="" class="img-responsive"></a></div>
                </div>
            </div>

        </div>
    </div>
</div>