<div class="main_slider">
    <div class="item pad-equal" style="background:url(/img/clouds_blur.jpg) center 0 no-repeat;">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 item_text white">
                    <p>Сделаем уникальный<br><span class="h1">Landing Page</span><br>Который принесет Вам Клиентов</p>
                    <div class="item_buttons row justify-content-between align-items-center">
                        <div class="col-md-8">
                            <a href="#portfolio" class="button button-links">Смотреть портфолио</a>
                        </div>
                        <div class="col-md-4 mt-3 mt-md-0">
                            <div data-event="fancy" data-name="zakaz" class="tdu h3 black cur">Заказать лендинг</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-none d-md-block item_img">
                    <img src="/img/laptop_ubuntu.png" class="img-responsive" alt="">
                    <div class="rozetka">
                        <div class="h4">В подарок:</div>
                        <ul>
                            <li>+ Хостинг</li>
                            <li>+ Домен</li>
                            <li>+ Мобильная версия</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
