<div class="top_banners">

        <div class="main_slider">
            <div class="item pad-equal" style="background:url(/img/clouds_blur.jpg) center 0 no-repeat;">
                <div class="container">
                    <div class="row">
                        <div class="col item_text">
                            НАДПИСЬ
                        </div>
                        <div class="col item_img">
                            <img src="/img/laptop_ubuntu.png" alt="">
                            <div class="rozetka">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>