<div class="top_banners">
    <div class="main_slider">
        <div class="item pad-equal" style="background:url(/img/clouds_blur.jpg) center 0 no-repeat;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8 d-none d-md-block item_text white">
                        <p>Сделаем уникальный<br><span class="h1">Landing Page</span><br>Который принесет Вам Клиентов</p>
                    </div>
                    <div class="col-md-4 item_img">
                        <img src="/img/laptop_ubuntu.png" alt="">
                        <div class="rozetka">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>