<div class="footer">
    <div class="footer_bigform">
        <div class="container pad-equal">
            <div class="row justify-content-center">
                <div class="col col-md-8 form">
                    <div class="h2 tac">Оставьте заявку на разработку Landing Page</div>
                    <div class="h4 tac">Введите данные и я свяжусь с Вами для уточнения деталей</div>
                    @@include('modules/footer_form.html')
                </div>
            </div>
        </div>

    </div>

    <div class="container pad-equal">

        <div class="row py-4">

            @@include('footer/footer_contacts.html')
        </div>
        <div class="row footer_floor justify-content-between">

            <div class="col-12 col-md-3 footer_logo order-md-last">
                <a href="https://ard-media.ru" rel="nofollow" target="_blank"><img src="img/ard_logo.png" alt="ard-media"></a>
                <div class="w-100"></div>
                <a href="https://ard-media.ru" rel="nofollow" target="_blank" class="content_color">Раскрутка сайта</a>
            </div>



            <div class="col-6 col-md-3 order-md-first">
                <p>g-strela.ru &copy; 2018</p>
            </div>

            <div class="col-6 col-md-3">
                <a href="/" rel="nofollow" target="_blank" class="content_color">Политика конфиденциальности</a>
            </div>


        </div>
    </div>
</div>
@@include('modules/fancy_form.html')