<div class="header">
    <div class="header__top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col no-gutters align-self-center">
                    <div class="row justify-content-start">
                        <div class="col-auto header__logo">
                            LOGO
                        </div>
                        <div class="col-auto header__address">
                            <i class="fas fa-map-marker-alt"></i>
                            <span> г. Москва, ул. Уличная, д.1</span>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    @@include('menu/top_menu.html')
                </div>
            </div>
        </div>
    </div>
</div>